<div class="top-image"></div>
<div class="latestposts display-5 text-center mt-5 mb-5">Place</div>
<div class="gallery-container text-center">
  <div class="gallery-name">ギャラリー</div>
  <div class="gallery-space">
    <div><a href="/posts/user_id/31" class="<%=  @liked_posters_user_id.include?(31) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">有野</a></div>
    <div><a href="/posts/user_id/18" class="<%=  @liked_posters_user_id.include?(18) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">井上</a></div>
    <div><a href="/posts/user_id/36" class="<%=  @liked_posters_user_id.include?(36) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">松下</a></div>
    <div><a href="/posts/user_id/23" class="<%=  @liked_posters_user_id.include?(23) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">米田</a></div>
  </div>
  </div>
<div class="room-container">
  <div class="room-space">
    <a href="/posts/user_id/30" class="<%=  @liked_posters_user_id.include?(30) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">吉田</a>
    <a href="/posts/user_id/33" class="<%=  @liked_posters_user_id.include?(33) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">服部</a>
    <a href="/posts/user_id/29" class="<%=  @liked_posters_user_id.include?(29) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">志賀</a>
    <a href="/posts/user_id/25" class="<%=  @liked_posters_user_id.include?(25) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">石川</a>
    <a href="/posts/user_id/37" class="<%=  @liked_posters_user_id.include?(37) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">道祖</a>
  </div>

  <div class="room-space">
    <div><a href="/posts/user_id/38" class="<%=  @liked_posters_user_id.include?(38) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">米澤</a></div>
    <div><a href="/posts/user_id/26" class="<%=  @liked_posters_user_id.include?(26) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">重東</a></div>
    <div><a href="/posts/user_id/41" class="<%= @liked_posters_user_id.include?(41) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">江塚</a></div>
    <div><a href="/posts/user_id/39" class="<%= @liked_posters_user_id.include?(39) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">向山</a></div>
    <div><a href="/posts/user_id/17" class="<%=  @liked_posters_user_id.include?(17) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">若松</a></div>
  </div>

  <div class="room-space">
    <div><a href="/posts/user_id/15" class="<%=  @liked_posters_user_id.include?(15) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">河内</a><br><a href="/posts/user_id/40" class="<%= @liked_posters_user_id.include?(40) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">久保</a></div>
    <div><a href="/posts/user_id/43" class="<%= @liked_posters_user_id.include?(43) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">井福</a><br><a href="/posts/user_id/21" class="<%=  @liked_posters_user_id.include?(21) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">西村</a></div>
    <div><a href="/posts/user_id/34" class="<%=  @liked_posters_user_id.include?(34) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">都築</a><br><a href="/posts/user_id/24" class="<%=  @liked_posters_user_id.include?(24) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">野崎</a></div>
    <div><a href="/posts/user_id/14" class="<%=  @liked_posters_user_id.include?(14) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">千田</a><br><a href="/posts/user_id/28" class="<%=  @liked_posters_user_id.include?(28) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">角田</a></div>
  </div>
  <div class="room-space">
  <div><a href="/posts/user_id/20" class="<%=  @liked_posters_user_id.include?(20) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">大塚</a><br><a href="/posts/user_id/19" class="<%=  @liked_posters_user_id.include?(19) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">中島</a></div>
  <div><a href="/posts/user_id/35" class="<%=  @liked_posters_user_id.include?(35) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">小池</a><br><a href="/posts/user_id/32" class="<%=  @liked_posters_user_id.include?(32) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">大山</a></div>
  <div><a href="/posts/user_id/27" class="<%=  @liked_posters_user_id.include?(27) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">横田</a><br><a href="/posts/user_id/42" class="<%= @liked_posters_user_id.include?(42) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">片山</a></div>
  <div><a href="/posts/user_id/16" class="<%=  @liked_posters_user_id.include?(16) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">山村</a><br><a href="/posts/user_id/22" class="<%=  @liked_posters_user_id.include?(22) ? 'text-danger text-decoration-none' : 'text-dark text-decoration-none' %>">村越</a></div>
</div>
</div>

<div class="vote-link text-center">
<% if Time.now > Time.new(2024, 2, 16, 13, 0, 0, "+09:00") %>
  <a href="https://docs.google.com/spreadsheets/d/1XwOvmd_E_lt5DzlkobgYB6iS52GRcDCtAL_cdxBF7cU/edit?resourcekey#gid=1761582134" class="vote-btn" target="blank">13時を超えると得点表へのリンクを表示</a>
  <% end %>
</div>
<div class="latestposts display-5 text-center mt-5 mb-5">Works</div>
<% if user_signed_in? %>
  <div class="text-center mt-5 mb-5">得点候補の作品をいいねしてください。<br>いいねすると<a href="/users/<%= current_user.id %>" class="text-decoration-none">投票ページ</a>で得点をつけられます</div>
<% end %>
<%= form_tag({controller:"/posts",action:"index"}, method: :get ,class:"d-flex search_form_container") do %>
  <%= text_field_tag :search  ,"",class:"form-control me-2 search_width" ,placeholder:"Name,Title" %>
  <%= submit_tag 'search' ,class:"btn btn-outline-success" %>
<% end %>
<div class="card-container">
  <% @posts.each do |t| %>
    <% if user_signed_in? %>
      <% if current_user.already_liked?(id: t.id, post_id: t.id) %>
        <div class="card mb-5 red-border" style="width: 18rem;">
      <% else %>
        <div class="card mb-5" style="width: 18rem;">
      <% end %>
    <% else %>
        <div class="card mb-5" style="width: 18rem;">
    <% end %>
          <div class="card-header card-title"><%= t.user.name %></div>
        <%= link_to(post_path(t.user_id),class:'text-decoration-none text-success') do %>
          <% if t.images.exists? && t.images[0]  %>
              <%= image_tag t.images[0], class: "card-img-top" %>
          <% else %>
            <%= image_tag "noimage.png",class: "card-img-top"  %>
          <% end %>
        <% end %>
        <div class="card-body">
        <%= link_to(post_path(t.user_id),class:'text-decoration-none text-success') do %>
          <div class="card-title ellipsis"><%= t.title %></div>
        <% end %>
        <div class="d-flex justify-content-between align-items-center card-body-footer">
          <div class="btn-group">
            <%= link_to "detail", post_path(t.user_id) ,class: "btn btn-sm btn-outline-secondary" %>
            <% if user_signed_in? %>
                <% if current_user.already_liked?(id: t.id, post_id: t.id) %>
                  <%= button_to post_like_path(id: t.id, post_id: t.id), class: "btn btn-link" , method: :delete do %>
                    <i class="fa-solid fa-thumbs-up unlike-btn"></i>
                  <% end %>
                <% else %>
                  <%= button_to post_likes_path(id: t.id, post_id: t.id), class: "btn btn-link" ,method: :post do %>
                    <i class="fa-regular fa-thumbs-up like-btn"></i>
                  <% end %>
                <% end %>
            <% end %>
          </div>
          <% if (@now - t.created_at) <= 60 * 60 %>
            <small class="text-muted"><%=((@now - t.created_at) / 60).to_i.to_s + "分前" %></small>
          <% elsif (@now - t.created_at) <= 60 * 60 * 24 %>
            <small class="text-muted"><%=((@now - t.created_at) / 3600).to_i.to_s + "時間前" %></small>
          <% elsif (@today - t.created_at.to_date) <= 30 %>
            <small class="text-muted"><%= (@today - t.created_at.to_date).to_i.to_s + "日前" %></small>
          <% else %>
            <small class="text-muted"><%= t.created_at.strftime('%Y-%m-%d') %></small>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @posts %>

  <% if user_signed_in? %>
    <% unless current_user.email.include?('@design.kyushu-u.ac.jp') %>
      <%= link_to(new_post_path) do %>
        <i class="fa-solid fa-circle-plus fa-4x text-success"></i>
        <% end %>
        <br><br><br>
    <% end %>
  <% end %>